/*
 * Dropit v1.1.0
 * http://dev7studios.com/dropit
 *
 * Copyright 2012, Dev7studios
 * Free to use and abuse under the MIT license.
 * http://www.opensource.org/licenses/mit-license.php
 */

/* These styles assume you are using ul and li */
.dropit {
    list-style: none;
    padding: 0;
    margin: 0;
}
.dropit .dropit-trigger { position: relative; }
.dropit .dropit-submenu {
    position: absolute;
    top: 100%;
    left: 0; /* dropdown left or right */
    z-index: 1000;
    display: none;
    min-width: 150px;
    list-style: none;
    padding: 0;
    margin: 0;
    
}
.dropit .dropit-submenu li a {
    font-size:110%;
}

.dropit .dropit-open .dropit-submenu { display: block; }
.menu {
    display: table;
    margin: 0;
    padding: 0;
}
.menu li
{
    background-color: transparent;
    display: table-cell;
    margin: 0;
    padding:0;
    vertical-align:middle;
}
.menu li a {
    background-color: transparent;
    color: #ffffff !important;
    cursor: pointer;
    display: block;
    font-size: 75%;
    padding:10px;
}
.menu li a:hover {
    background-color:#5f5f5f;
    color: #ffffff !important;
}
.menu li ul {
    border-bottom: 2px dotted #a6a6a6;
    display: none;
    margin: 0;
    padding: 0;
    position: absolute;
    z-index: 9999;
}
.menu li ul li {
    display: block;
    vertical-align:middle;
    padding: 0;
}
.menu ul.dropit-submenu {
    background-color: #fff;
    border-left: 1px solid #5f5f5f;
    border-right: 1px solid #5f5f5f;
    border-bottom: 1px solid #5f5f5f;
    padding: 6px 0;
    margin: 2px 0 0 1px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    -webkit-box-shadow: 0px 1px 3px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 1px 3px rgba(0,0,0,0.15);
    box-shadow: 0px 1px 3px rgba(0,0,0,0.15);
}          
.menu ul.dropit-submenu a {
    display: block;
    line-height: 25px;
    color: #1f1f1f !important;
    padding: 0 18px;
}
.menu ul.dropit-submenu a:hover {
    background: #324f64;
    color: #ffffff !important;
    text-decoration: none;
}
