<p>
1) OpenBioMaps is an open-source (GPL licensed) database framework developed by the OpenBioMaps Consortium and several volunteer developers.
<br>
2) OpenBioMaps is an international web-based database service maintained by the OpenBioMaps Consortium.<br>
</p>

<p>
The OpenBioMaps Service provides mobile application, R package and web application for creating and managing using biological databases.
</p>
