<p>
OpenBioMaps Consortium is a collaboration for maintaining long term database framework for scientific, educational and conservational management purposes.
<br>
The OpenBioMaps databases are individual projects for publishing geo-referrenced biological data; that is, a voluntary association of individuals and groups working to develop a common resource of biodiversity related knowledge. The structures of the projects potentially allows anyone with an Internet connection to alter its content, however the each project's rules can be different. Please be advised that the data content found here has not necessarily been reviewed by people with the expertise required to provide you with complete, accurate or reliable information.
<br>
OpenBioMaps cannot guarantee the validity of the information found here. Use of data accessed through the portal and web services is at the user’s own risk. Users and publishers must observe the provisions of the Data Use and Sharing Agreement.
</p>
